.checkout-container{
    height:100%;
    padding-top: 75px;
}  

.checkout-container  h1{
  font-family: var(--font-title);
  font-size: 3.5rem;
  line-height: 96px;
  letter-spacing: 0.2em;
  color: var(--baby-blue);
  text-shadow: -6px 0 var(--primary-dark-bg), 0 6px var(--primary-dark-bg), 6px 0 var(--primary-dark-bg), 0 -6px var(--primary-dark-bg);
  margin-bottom: 0;
  padding-bottom: 0;
}

 .card-img-top { height: 20rem;}

 .row {
 display: -ms-flexbox; /* IE10 */
 display: flex;
 -ms-flex-wrap: wrap; /* IE10 */
 flex-wrap: wrap;
 margin: 0 -16px;
 }

 .col-25 {
 -ms-flex: 25%; /* IE10 */
 flex: 25%;
 }

 .col-50 {
 -ms-flex: 50%; /* IE10 */
 flex: 50%;
 }

 .col-50 > h3{
     font-family: var(--font-title);
 }

 .col-75 {
 -ms-flex: 75%; /* IE10 */
 flex: 75%;
 }

 .col-25,
 .col-50,
 .col-75 {
 padding: 0 16px;
 }

 .cart-container{
     width: 40%;
 }
 .container {
 background-color: #f2f2f2;
 padding: 15px;
 border: 1px solid lightgrey;
 border-radius: 3px;
 color: var(--primary-dark-bg);
 }

 input[type=text] {
 width: 100%;
 margin-bottom: 20px;
 padding: 12px;
 border: 1px solid #ccc;
 border-radius: 3px;
 }

 label {
 margin-bottom: 10px;
 display: block;
 }

 .icon-container {
 margin-bottom: 20px;
 padding: 7px 0;
 font-size: 24px;
 }

 .btn {
 background-color: var(--olive-green);
 color: white;
 padding: 12px;
 margin: 10px 0;
 border: none;
 width: 100%;
 border-radius: 3px;
 cursor: pointer;
 font-size: 17px;
 }

 .btn:hover {
 background-color: var(--olive-green-light);
 }


 hr {
 border: 1px solid lightgrey;
 }

 span.price {
 float: right;
 color: grey;
 }

 /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
 @media (max-width: 800px) {
 .row {
     flex-direction: column-reverse;
 }
 .col-25 {
     margin-bottom: 20px;
 }
}
